Unity/Assets/Plugins/iOS
Unity/Assets/Plugins/iOS/metaiosdk
.//Unity/Assets/Plugins/iOS

XCode/Libraries/libiPhone-lib.a
.//XCode/Libraries/libiPhone-lib.a

XCode/Libraries/metaiosdk
.//XCode/Libraries/metaiosdk
.//XCode/Libraries/metaiosdk.meta
.DS_Store
